/* Cash Depot | My Next Pay | Get my pay today | Cash now 2 go | Email Money Noe  | Send me cash today */
.cashdepot {
  --primary: #42932e;
  --primary-dark: #1a560b;
  --primary-light: #c4ebba;
  --secondary: #42932E;
}
