.flinks-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-grow: 1;
    h2 {
      font-size: 30px;
      font-weight: 900;
    }
    div {
      width: 100%;
    }
    iframe {
      width: 100%;
      border: none;
    }
  }